manifest {
    name            = 'multiomics-platform-blueprint-pipeline'
    author          = 'Technical Product Owner & Architect'
    description     = 'Decoupled multi-omics data foundry pipeline for enterprise R&D scale.'
    mainScript      = 'main.nf'
    nextflowVersion = '!>=23.04.0'
}

profiles {
    local_dev {
        process.executor = 'local'
        docker.enabled   = true
        process {
            withName: 'FASTQC' { container = 'biocontainers/fastqc:v0.11.9_cv8' }
        }
    }
    aws_batch {
        process.executor = 'awsbatch'
        process.queue = 'multiomics-ecs-cluster-prod'
        aws.region = 'eu-west-1'
    }
}